#apache-beam==2.27.0  # Used by composer-1.17.9-airflow-1.10.15
#requests==2.25.1  # Added due to pip dependency error, this version is used by composer-1.17.9-airflow-1.10.15
#coverage==5.2.1
#flake8==3.8.3
#pre-commit==2.7.1
#pykwalify==1.8.0
#pytest==6.0.1
